body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(41, 39, 39);
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;700&display=swap');

:root{
    --main-color:#3867d6;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background: #444;
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}

body{
    background: rgb(253, 253, 253);
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    color:#fff;
    text-transform: uppercase;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background: #666;
    color:#fff;
    cursor: pointer;
    font-weight: 600;
}

.btn:hover{
    background:var(--main-color);
}

.header{
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 10000;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 9%;
}

.header .logo{
    font-weight: bolder;
    color:#fff;
    font-size: 2.5rem;
}

.header .logo span{
    color:var(--main-color);
}

.header .navbar a{
    font-size: 1.7rem;
    color:#fff;
    margin-left: 2rem;
}

.header .navbar a:hover{
    color:var(--main-color);
}

#menu-bars{
    font-size: 3rem;
    color:#fff;
    cursor: pointer;
    display: none;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 15vh auto;
    padding: 15px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 15px rgb(180, 51, 73);
    /* background-color: gray; */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

input {
    width: 100%;
    margin: 5px 0;
    height: 35px;
    font-size: 17px;
    text-align: center;
    outline: none;
    border-radius: 15px;
    border: none;
    background: rgb(235, 228, 228);
}

textarea {
    width: 100%;
    margin: 5px 0;
    font-size: 17px;
    text-align: center;
    outline: none;
    border-radius: 15px;
    border: none;
    background: rgb(235, 228, 228);
}
input[type=submit]{
    margin: 10px auto;
    width: 120px;
    background: rgb(216, 31, 62);
    color: white;
    cursor: pointer;
}
input[type=submit]:hover{
background: tomato;
}
@media screen and (max-width:600px) {
    .container{
        width: 90%;
    }
}