@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;700&display=swap');

:root{
    --main-color:#3867d6;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
     text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 92.5%;
    overflow-x: hidden;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
  width:1rem;
}

html::-webkit-scrollbar-track{
  background: #444;
}

html::-webkit-scrollbar-thumb{
  background: var(--main-color);
  border-radius: 5rem;
}
#container
{
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: #e9e9eb;
}
/* logo */
#container #logo
{
    position: absolute;
    left: 8%;
    top: 30px;
    font-size: 30px;
    z-index: 997;
    font-weight: bold;
    color: #165397;
}
.heading{
  text-align: center;
  padding-bottom: 2rem;
  color:#fff;
  text-transform: uppercase;
  font-size: 4rem;
}

.heading span{
  color:var(--main-color);
  text-transform: uppercase;
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  padding:.8rem 3rem;
  font-size: 1.7rem;
  border-radius: .5rem;
  background: #666;
  color:#fff;
  cursor: pointer;
  font-weight: 600;
}

.btn:hover{
  background:var(--main-color);
}

.header{
  position: fixed;
  top:0; left: 0; right: 0;
  z-index: 1000;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0.5rem 4%;
}

.header .logo{
  font-weight: bolder;
  color:#fff;
  font-size: 2.5rem;
}

.header .logo span{
  color:var(--main-color);
}

.header .navbar a{
  font-size: 1.7rem;
  color:#fff;
  margin-left: 2rem;
}

.header .navbar a:hover{
  color:var(--main-color);
}

#menu-bars{
  font-size: 2rem;
  color:#fff;
  cursor: pointer;
  display: none;
}

/* image */
#image
{
    position: absolute;
    top: calc(50% - 300px);
    right: 1%;
    z-index: 999;
}
#image img
{
    height: 500px;
    filter: drop-shadow(-140px -140px 5px rgba(0,0,0,0.5));
    transition: 0.5s;
}
#image img:hover
{
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5));

}
/* content */
#content
{
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: 996;
}
#content h2
{
    font-size: 180px;
    color: #165397;
}
#content:hover h2
{
    color: #000;
    transition: 0.5s;
}
#content h4
{
    font-size: 150px;
    color: rgb(9, 20, 22);
}
#content:hover h4
{
    color: #165397;
    transition: 0.5s;
}
/* icons */
#icons
{
    height: 500px;
    width: 65px;
    position: absolute;
    left: 0;
    top: calc(50% - 250px);
    background: #1c5da4;
    border-radius: 0 60px 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 998;
}
#icons:hover
{
    background: #000;
}
#icons a
{
    text-decoration: none;
    height: 40px;
    width: 40px;
    font-size: 23px;
    color: #e9e9eb;
    display: grid;
    place-items: center;
    margin: 30px 0
}
#icons a:hover
{
    color: #1b66bb;
}
/* pagination */
#pagination
{
    position: absolute;
    bottom: 4%;
    right: 20%;
    z-index: 995;
}
#pagination a
{
    text-decoration: none;
    color: #000;
    font-size: 70px;
    margin: 0 30px;
    transition: 0.5s;
}
#pagination a:hover
{
    color: #165397;
}
/* lines */
#line1,#line2
{
    height: 150px;
    width: 60px;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 20%;
    transform: skewX(-45deg);
}
#line2
{
    height: 60px;
    left: 26%;
}

#container2 {
  max-width: 1000px;
  margin: auto;
  background: white;
  padding: 50px;
}
#container2 img {
  width: 100%;
  height: 300px;

  max-width: 100%;
  height: auto;

  border-radius: 30px;
}
#Container2image {
  background-image: url(../image/background.jpg);
  border-radius: 4px;
}

.text {
  font-family: Titillium Web, Geneva, sans-serif;
  color: #1c0e52;
  text-align: center;
}
.p {
  font-family: Titillium Web, Geneva, sans-serif;
  font-size: var(--fontsize-default-text);
  line-height: 1.5;
  text-align: center;
  font-size: larger;
}

/*News css*/
.news {
  box-shadow: inset 0 -15px 30px rgba(0, 0, 0, 0.4),
    0 5px 10px rgba(0, 0, 0, 0.5);
  width: 150px;
  height: 200px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 4px;
  padding: 10px;
  -webkit-user-select: none;
}
.full-width {
  width: 100%;
}
.news span {
  float: left;
  color: #fff;
  padding: 3px;
  /* position: relative; */
  top: 10%;
  border-radius: 4px;
  box-shadow: inset 0 -15px 30px rgba(0, 0, 0, 0.4);
  font: 16px "Source Sans Pro", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  cursor: pointer;
}

.news ul {
  float: left;
  padding-left: 100px;
  animation: ticker 10s cubic-bezier(1, 0, 0.5, 0) infinite;
  -webkit-user-select: none;
}

.news ul li {
  line-height: 30px;
  list-style: none;
}

.news ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font: 14px Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
}

@keyframes ticker {
  0% {
    margin-top: 0;
  }
  25% {
    margin-top: -30px;
  }
  50% {
    margin-top: -60px;
  }
  75% {
    margin-top: -90px;
  }
  100% {
    margin-top: 0;
  }
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

#container2 a {
  background-image: linear-gradient(to right, #e4d761, #88960a 50%, rgb(111, 160, 19) 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

#container2 a:before {
  content: "";
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

#container2 a:hover {
  background-position: 0;
}

#container2 a:hover::before {
  width: 100%;
}
